<template>
  <div>
    <h1 class="font-medium leading-tight text-5xl mt-0 mb-2 text-blue-600 text-center">Create Order</h1>
    <div class="container mx-auto">
      <div class="flex justify-center">
        <form action="javascript:void(0)">
          <div class="form-group mb-6">
            <input type="text" class="form-control block
        w-full
        px-3
        py-1.5
        text-base
        font-normal
        text-gray-700
        bg-white bg-clip-padding
        border border-solid border-gray-300
        rounded
        transition
        ease-in-out
        m-0
        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="exampleInput7"
                   placeholder="Customer name" v-model="order.customer_name">
          </div>
          <div class="flex justify-center">
            <div class="mb-3 xl:w-96">
              <select class="form-select appearance-none
      block
      w-full
      px-3
      py-1.5
      text-base
      font-normal
      text-gray-700
      bg-white bg-clip-padding bg-no-repeat
      border border-solid border-gray-300
      rounded
      transition
      ease-in-out
      m-0
      focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" aria-label="Default select example" v-model="order.pizza_id">
                <option selected value="" disabled class="text-stone-700">Select Pizza</option>
                <option value="1">Margheritta ($10)</option>
                <option value="2">Pepperoni ($5)</option>
                <option value="3">Smoke Beef ($15)</option>
              </select>
            </div>
          </div>
          <div class="form-group mb-6">
            <input type="number" class="form-control block
        w-full
        px-3
        py-1.5
        text-base
        font-normal
        text-gray-700
        bg-white bg-clip-padding
        border border-solid border-gray-300
        rounded
        transition
        ease-in-out
        m-0
        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="exampleInput8"
                   placeholder="Quantity" v-model="order.quantity">
          </div>
          <button type="submit" @click="createOrder" class="
      w-full
      px-6
      py-2.5
      bg-blue-600
      text-white
      font-medium
      text-xs
      leading-tight
      uppercase
      rounded
      shadow-md
      hover:bg-blue-700 hover:shadow-lg
      focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
      active:bg-blue-800 active:shadow-lg
      transition
      duration-150
      ease-in-out">Order</button>
          <div v-if="isSuccess !== ''">
            <p v-if="isSuccess" class="text-center text-green-700">Add order succes</p>
            <p v-else class="text-center text-red-700">Add order failed</p>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'IndexPage',
    data: () => ({
      isSuccess: '',
      order: {
        customer_name: '',
        quantity: 0,
        pizza_id: ''
      }
    }),
    methods: {
      async createOrder() {
        await this.$store.dispatch('order/postOrder', this.order)
        .then((res) => {
          if (res.success){
              this.isSuccess = true
              this.$nuxt.$router.push('/', this.order)
          } else {
            this.isSuccess = false
          }
        })

      },
    },
  }
</script>
