<template>
 <div>
   <h1 class="font-medium leading-tight text-5xl mt-0 mb-2 text-blue-600 text-center">EXPRESS PIZZA DELIVERY</h1>
   <div class="container mx-auto">
     <div class="flex flex-row">
       <div class=" mx-auto">
         <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
           <div class="py-4 inline-block min-w-full sm:px-6 lg:px-8">
             <div class="overflow-hidden">
               <table class="min-w-full text-center">
                 <thead class="border-b bg-gray-800">
                 <tr>
                   <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                     Order No
                   </th>
                   <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                     Pizza
                   </th>
                   <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                     Price
                   </th>
                   <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                     Quantity
                   </th>
                   <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                     Total
                   </th>
                   <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                     Customer
                   </th>
                   <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                     Status
                   </th>
                   <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                     Action
                   </th>
                 </tr>
                 </thead class="border-b">
                 <tbody>
                 <tr v-for="(order, index) in orderList" :key="index" class="bg-white border-b">
                   <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{ index + 1 }} <span v-if="index === Object.keys(orderList).length - 1" class="bg-red-600 text-white">new</span></td>
                   <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                     {{ order.pizza_name }}
                   </td>
                   <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                     $ {{ order.price }}
                   </td>
                   <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                     {{ order.quantity}}
                   </td>
                   <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                     <div v-if="totalPrice(order).total">
                       $ {{ totalPrice(order).afterDiscount }}
                       <span class="line-through">{{ totalPrice(order).total }}</span> (discount {{totalPrice(order).discount}}%)
                     </div>
                     <div v-else>
                       $ {{ totalPrice(order) }}
                     </div>
                   </td>
                   <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                     {{ order.customer_name }}
                   </td>
                   <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                     {{ order.status }}
                   </td>
                   <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                     <button @click="donePayment(index)" v-if="order.status === 'Ready to serve & Take'" type="button" class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Done Payment</button>
                     <p v-else class="text-gray-900">Waiting order</p>
                   </td>
                 </tr class="bg-white border-b">
                 </tbody>
               </table>
             </div>
           </div>
         </div>
       </div>
     </div>
     <div class="flex space-x-2 justify-center">
       <button
         @click="createOrder"
         type="button"
         data-mdb-ripple="true"
         data-mdb-ripple-color="light"
         class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
       >Order Now</button>
       <button
         v-if="$auth.loggedIn"
         @click="logout"
         type="button"
         data-mdb-ripple="true"
         data-mdb-ripple-color="light"
         class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
       >Log Out</button>
     </div>
   </div>
 </div>
</template>

<script>
export default {
  name: 'IndexPage',
  data: () => ({
    orderList: []
  }),
  async mounted() {
    const { data } = await this.$store.dispatch('order/getOrder');
    this.orderList = data
  },
  methods: {
    async logout() {
      await this.$auth.logout()
    },
    donePayment(index) {
      this.orderList.splice(index, 1);
    },
    totalPrice(order) {
      const total = order.quantity * order.price;
      if (total >= 50 && total <= 100) {
        return {
          afterDiscount: total - (total * 0.05),
          discount: 5,
          total: total
        }
      } else if (total > 100) {
        return {
          afterDiscount: total - (total * 0.1),
          discount: 10,
          total: total
        }
      } else {
        return total;
      }
    },
    createOrder() {
      if (this.$auth.loggedIn) {
        this.$nuxt.$router.push('/create-order')
      } else {
        this.$nuxt.$router.push('/login')
      }
    }
  }
}
</script>
